<div class="entry" onclick="location.href='/view/entry?id={{_id}}';">
    <span class="description">{{description}}</span>
    <span class="entryType">{{entryType}}</span>
    <br>
    <span class="amount">{{currency amount}}</span>
    <span class="date">{{date}}</span>
</div>